<footer class="footer-area mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="footer-widget" data-aos="fade-up">
                        <a href="index.html" class="footer-logo mb-3">
                            <img src="./assets/images/Logo.png" alt="title" />
                        </a>
                        <p class="mb-3">
                            یک پله بالاتر با هش سی تی
                            <br> One Step Higher With Hash CT
                        </p>
                        <ul class="share-link-social list-inline mb-5 mb-xl-12">

                            <li class="list-inline-item">
                                <a class="instagram" href="https://facebook.com/" rel="noopener" target="_blank">
                                    <i class="bi bi-instagram fs-2"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="telegram" href="https://facebook.com/" rel="noopener" target="_blank">
                                    <i class="bi bi-telegram fs-2"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="https://facebook.com/" rel="noopener" target="_blank">
                                    <i class="bi bi-twitter fs-2"></i>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-2">
                    <div class="footer-widget">
                        <h5 class="mb-3">صفحات</h5>
                        <ul class="footer-list list-inline">
                            <li><a href="index.html">خانه</a></li>
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="author.html">نویسندگان</a></li>
                            <li><a href="faq.html">سوالات پرتکرار</a></li>
                            <li><a href="contact.html">ارتباط با ما</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-2">
                    <div class="footer-widget">
                        <h5 class="mb-3">لینک های مفید</h5>
                        <ul class="footer-list list-inline">
                            <li><a href="privacy-policy.html">سوالات پرتکرار</a></li>
                            <li><a href="terms.html">شرایط و ضوابط</a></li>
                            <li><a href="gallery.html">گالری</a></li>
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="register.html">ثبت نام</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="footer-widget">
                        <h5 class="mb-3">اطلاعات تماس</h5>
                        <p class="mb-5">
                            تبریز - منظریه - دانشکده فنی شماره 1 - ساختمان 16

                        </p>
                        <h5 class="mb-3">مشترک شوید</h5>
                        <form action="#" data-aos="fade-up">
                            <div class="input-group">
                                <input type="text" class="form-control me-2" placeholder="ایمیل شما" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">ارسال</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="container">
                <p class="text-center">
                    &copy; تمامی حقوق مادی و معنوی سایت متعلق به <span class="fw-bold">هش سی تی</span> میباشد.
                </p>
            </div>

            <a href="#" class="footer-back show">
                <i class="bi bi-arrow-up-circle fs-4"></i>
            </a>
        </div>
    </footer>