  <header class="header-area">
        <div class="container-fluid">
            <div class="header-navbar navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                    <img src="./assets/images/Logo.png" alt="images" class="" width="" />
                </a>
                <a href="#nav" class="navbar-reveal">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </header>
    <nav class="header-navbar-menu">
        <div class="header-navbar-bg"></div>
        <button type="button" class="navbar-back">
            <i class="bi bi-arrow-left-circle fs-1 text-white"></i>
        </button>
        <button type="button" class="header-cancel">
            <i class="bi bi-x-circle fs-2 text-white"></i>
        </button>
        <div class="header-navbar-container">
            <div class="header-navbar-left">
                <ul class="nav-list list-inline">
                    <li>
                        <a href="index.html">
                            <i class="bi bi-house-door"></i> برو به صفحه اصلی
                        </a>
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">صفحات</a>
                        <ul class="sub-list list-inline">
                            <li><a href="team.html">تیم</a></li>
                            <li><a href="gallery.html">گالری</a></li>
                            <li><a href="service.html">خدمات</a></li>
                            <li><a href="service-single.html">جزئیات خدمات</a></li>
                            <li><a href="faq.html">سوالات پرتکرار</a></li>
                            <li><a href="register.html">ثبت نام</a></li>
                            <li><a href="terms.html">شرایط و ضوابط</a></li>
                        </ul>
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">وبلاگ</a>
                        <ul class="sub-list list-inline">
                            <li><a href="author.html">نویسندگان</a></li>
                            <li><a href="category.html">دسته بندی ها</a></li>
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="single.html">جزئیات وبلاگ</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">درباره ما</a></li>
                    <li><a href="contact.html">ارتباط با ما</a></li>
                </ul>
            </div>
            <div class="header-navbar-right d-none d-sm-block">
                <p class="text-muted">
                    <i class="bi bi-geo-alt fs-5"></i> آدرس
                </p>
                <ul class="list-inline mb-6">
                    <li>تبریز - منظریه - دانشکده فنی شماره 1 - ساختمان 16</li>
                </ul>
                <p class="text-muted">
                    <i class="bi bi-globe fs-5"></i> شبکه های اجتماعی
                </p>
                <ul class="list-inline mb-6">
                    <li>
                        <a href="https://www.instagram.com/hash_ct" target="_blank">
                            <i class="bi bi-instagram ms-1 me-1"></i>اینستاگرام
                        </a>
                    </li>
                    <li><a href="#"><i class="bi bi-twitter ms-1 me-1" target="_blank"></i>توئیتر</a></li>
                    <li><a href="#"><i class="bi bi-telegram ms-1 me-1" target="_blank"></i>تلگرام</a></li>
                </ul>
                <p class="text-muted">
                    <i class="bi bi-person-lines-fill fs-5"></i> ارتباط با ما
                </p>
                <ul class="list-inline">
                    <li>
                        <a href="mailto:hash8ct@gmail.com">
                            <i class="bi bi-envelope-plus ms-1 me-1"></i> hash8ct@gmail.com
                        </a>
                    </li>
                    <li dir="ltr">
                        <a href="tel:+98 996 164 1184">
                            +98 996 164 1184
                            <i class="bi bi-telephone-plus ms-1 me-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>