<!DOCTYPE html>
<html lang="fa" data-color="light">
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>شرکت استارتاپی هش سی تی | Hash CT (Computer Technology)</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--  ====================== Links Start =============================  -->
    <partial name="_Links">
    <!--  ====================== Links End =============================  -->

</head>

<body>
    <div class="cursor-direction"></div>
    <!-- <div class="preloader"></div> -->
    <!--  ====================== Header Section Start =============================  -->
     <partial name="_Headers">
    <!--  ====================== Header Section End =============================  -->

    @RenderBody()
    
    <!--  ====================== Footer Section Start =============================  -->
    <partial name="_Footer">
    <!--  ====================== Footer Section End =============================  -->
    
    <!--  ====================== Scripts Start =============================  -->
    <partial name="_Scripts">
    <!--  ====================== Scripts End =============================  -->


</body>

</html>